/* .square {
    width: auto;
    height: auto;
    border: .5px solid black;
    margin: .5px;
    flex-grow: 1;
}

.clicked {
    background-color: black;
}

.container {
    border: 1px solid red;
    width: 500px;
    height: 500px;

}

.row {
    display: flex;
    justify-content: center;
} */


.board {
    height: 500px;
    width: 500px;
    display: grid;
    border: 1px solid gray;
}

.square {
    border: .1px solid gray;
}
